<template>
  <section id="pro-block">
    <div v-if="proItem !== null"  id="pro-content">
      <!--<small>{{ proId }}</small> {{proItem.nombre }} -->
      <vue-markdown class="col-12" :source="content" ></vue-markdown>
    </div>
  </section>
</template>

<style lang="scss" >
//https://stackoverflow.com/questions/40864747/using-bootstrap-with-vue-webapp-how-to-customise
 @import '~@/components/style_variables.scss';

  #pro-block{
    text-align: left; 
    
    @media (max-width: 544px) { 
        padding:0;
        font-size:17px;
        font-weight: 400;
    }

    #pro-content{
      width:100%;
      overflow: hidden;
      color:$app-color;
    
      h2{
        margin:20px 0 10px;  
        font-size:19px;  
      }

      p{
        width: 100%;
        font-weight: 300;
        font-size: 13px;
        color: $app-color;

        img{
          width: 100%;
          margin:20px 0px;
        }

        a{
          text-decoration: underline;
          color: $app-color;
        }
      }

      pre{
        padding:5px;
        background-color: #f5f5f5;
        border: 1px solid #ccc;
        @include border-radius(4px);
        font-size: 13px;
        letter-spacing: -0.023em;
      }

      ul{
        li{
          font-weight: 300;
          font-size: 13px;
        }
      }
    }
  }
</style>

<script>

import loadTools from '@/modules/loadTools.js';
import VueMarkdown from 'vue-markdown' //https://github.com/miaolz123/vue-markdown

export default {
  name: 'project',
  components: {
    VueMarkdown
  },
  props:[
    "proId"
  ],
  data() {
    return {
      proItem:null,
      content:'',
    };
  },
   watch: {
      'libraryData': function (id) {
        this.init();
      },
      $route (to, from){
        this.init();
      }
    },
  methods:{
     updateContent: function( ){
        var propItemId = this.proId;
        if( this.libraryData !== null ){
          var searchedItemList = this.libraryData.projects.filter( resPro => resPro.key == propItemId ); 
          this.proItem = searchedItemList[0];
          //console.log( JSON.parse(JSON.stringify( this.proItem ))  )
          //console.log( this.proItem.tags )
          this.$store.commit('setCurrentProject', this.proItem )
          this.getContentFile( this.proItem.dir )
        }
      },

      getContentFile:function( url ){ 
        var contentUrl =  'http://motuo.info/pycms/archiv/' +  url + '/'
        var pathFile = contentUrl + 'content.md';
         loadTools.fetchAsyncMD( pathFile )
         //loadTools.request( contentUrl )
          .then( (contentData ) =>{
            //http://motuo.info/pycms/archiv/post-Nombre_del_post
            var replaced = contentData.replace(/@ROUTE/g, contentUrl);
            this.content = replaced
          })
          .catch(reason => console.log(reason.message))
      },

      init:function( ){
        this.updateContent();
      }
  },
  computed: {
    libraryData () {
      return this.$store.state.librarian
    },
  },
  beforeMount(){
    this.init()
 },
  
}
</script>
