<template>
	<div class="footer-box">
		<div class="author">Motuo | Chema Mengibar</div>
		<ul class="social-icons">
			<li class="social-icon twitter">
				<a href="https://twitter.com/_chemamengibar" target="_blank"> 
					<i class="fab fa-twitter" ></i> 
				</a> 
			</li>
			<li class="social-icon linkedin"> <a href="https://www.linkedin.com/in/jmmengibar/" target="_blank"> <i class="fab fa-linkedin-in" ></i> </a> </li>
			<li class="social-icon xing"><a href="https://www.xing.com/profile/Chema_Mengibar" target="_blank">  <i class="fab fa-xing" ></i> </a> </li>
			<li class="social-icon github"><a href="https://github.com/chema-mengibar" target="_blank">  <i class="fab fa-github" ></i> </a> </li>
		</ul>
	</div>    
</template>

<script>
	export default {}
</script>


<style  lang="scss" >

	@import '~@/components/style_variables.scss';

	.footer-box{
		display:flex;
		justify-content: space-between;	
		align-items: center;
	}

	.author{
		display: inline-block;
		color:$app-color-active;
	}
	
	.social-icons{
		display: inline-block;
		list-style-type: none;
		padding:0px;
	}


	.social-icon{

		display:inline-block;
		width: 30px;
		height:30px;
		@include border-radius(30px);
		border:1px solid $app-color-active;

		a{
			color:$app-color-active;
			font-size: 15px;
		}

		&:hover{
			border:1px solid $app-color-active;
			a{
				color: $app-color-active;
			}
		}

		&:not(:first-child) {
			margin-left:5px;
		}

		&.twitter{
			padding: 3px 6px;
		}

		&.linkedin{
			padding: 2px 8px;
		}
		&.xing{
			padding: 3px 7px;
		}
		&.github{
			padding: 4px 5px;
		}
	}

	.fa-github{
		font-size: 18px;
	}


</style>