<template>

    <div class="nav">
        <div class="nav-areas">
            <ul>
                <li  v-on:click="changeArea( )">
                    <i class="fas fa-circle-notch " ></i>
                    <span class="area-name"> All </span>  
                    <span class="area-counter">{{ countAreaItems( ) }} </span>
                </li>
                <li v-for="area in areas" 
                    :key="area.key"  
                    v-on:click="changeArea( area.key )" 
                    v-bind:class="{ active: area.key== selectedArea }">
                        <i class="fas fa-circle-notch " ></i>
                        <span class="area-name">{{area.name}} </span>  
                        <span class="area-counter">{{ countAreaItems( area.key ) }} </span>  
                 </li>
            </ul>
        </div>
        <div class="nav-layout-box">
            <div class="nav-tags">
                <ul>
                    <li v-for="tag in tags" :key="tag" 
                        v-bind:class="{ active: isActive(tag) }" 
                        v-on:click="updateTags( tag )">
                            <span class="label label-primary"> {{tag}}</span> 
                            <i class="fas fa-plus-circle" ></i>
                            <i class="fas fa-check" ></i>
                    </li>
                </ul>
            </div>

            <div class="nav-pros">
                <ul>
                    <router-link 
                        v-for="(pro, index) in pros" 
                        v-if="shouldDisplay( pro.type )" 
                        :key="pro.id" 
                        :to="{path:'/project/' + pro.key }" 
                        v-bind:class="{ inlist: keyInList( pro.key ) }"  
                        tag="li" > {{pro.nombre}}
                    </router-link>
                </ul>
            </div>
        </div>
    </div>

</template>

<script>

    export default {
        name:'Nav',
        props:["areas","tags","pros" ],
        data(){
            return{
                proTags:[],
                uniqueKeys:[],
                selectedArea:null,
            };
        },
        created(){},
        mounted(){},
        computed:{
            currentProjectData () {
                return this.$store.state.currentProject
            },
        },
        watch: {
            'currentProjectData': function (id) {
                this.updateTags()
            },
        },
        methods:{
            updateTags: function( selectedTag  ){
                //console.log( selectedTag )
                if( selectedTag != undefined ){

                    var idTag =  this.proTags.indexOf( selectedTag )
                    if( idTag > -1  ){
                        this.proTags.splice( idTag ,1);
                    }
                    else{ 
                        this.proTags.push( selectedTag )
                    }
                }
                else{
                    //uggly copy from store
                    //this.proTags = JSON.parse(JSON.stringify( this.currentProjectData.tags ))  //Error
                    this.proTags =  Object.assign( [], this.currentProjectData.tags )
                    
                }
                
                this.$store.commit('setSelectedTags', Object.assign( [], this.proTags ) );
                this.updateListProject()
            },
            updateListProject: function( ){

                var selectedTags = this.$store.state.selectedTags 
                var listTagXPro = this.$store.state.librarian.flagProItemsByTag 
                var listPros = this.$store.state.librarian.projects 

                var newList =  listTagXPro.filter( txp => selectedTags.indexOf(txp.tag) > -1  ) 
                var newListKeys = newList.map(  txp => txp.key )
                var uniqueKeysA =  new Set(newListKeys).toJSON();

                this.uniqueKeys = uniqueKeysA
            },
            isActive: function( tagName ){
                return this.proTags.includes( tagName );
            },
            keyInList: function( proKey ){
                return this.uniqueKeys.includes( proKey );
            },
            shouldDisplay: function( proType ){
                if( this.selectedArea !== null ){
                     return ( proType === this.selectedArea ) ;
                }
                else{
                    return true;
                }
            },
            clearTags: function( ){
                this.proTags = []
                this.$store.commit('setSelectedTags', [] );
            },
            changeArea: function( areaKey ){
                if( areaKey !== undefined ){
                    this.selectedArea = areaKey
                }
                else{
                    this.selectedArea =  null
                }
                this.clearTags()
               
            },
            countAreaItems: function( areaKey ){
                if( this.$store.state.librarian !== null ){
                    var listPros = this.$store.state.librarian.projects
                    if( areaKey !== undefined ){
                        var listProsArea =  listPros.filter( pro => (pro.type == areaKey)  ) 
                        return listProsArea.length
                    }
                    else{
                        return listPros.length
                    }
                }else{
                    return ""
                }
            },
        }
    }
</script>

<style lang="scss" scoped>

@import '~@/components/style_variables.scss';

.nav{
   display:flex; 
   flex-direction:column;
   
}

.nav-layout-box{
    flex:1;
    display:flex; 
    flex-direction:column;
    // position:fixed;

    @media (min-width: 1025px) { 
        flex-direction:row;
    }
}


.nav-areas{
    
    ul{
        list-style: none;
        padding: 0;
        font-size: 13px;
            
        li{
            
            display:inline-block;
            margin-right: 10px;
            transition: color 0.5s ease;
            cursor:pointer;
            
            .area-name{
                color:$app-color;
                font-weight: 700;
                text-decoration:underline;
                text-transform: capitalize;
            }
            .area-counter{
                color:$app-color;
                font-weight: 300;
                font-size: 12px;
                text-decoration:none;
            }
            
            .fa-circle-notch {
                color:$app-color-active;
                font-size: 10px;
            }

            &.active{
                color: $app-color-active;
                .area-name{
                    text-decoration:line-through;
                }
                
            }
        }
  
    }
    
}

.nav-tags{
    
    ul{
        width:auto;
        padding:0;
        padding-right:10px;

        li{
            display: block;
            position: relative;
            float: left;
            clear: both;
            min-width: 120px;
            width: auto;
            @include border-radius(15px);
            transition: background-color 0.4s ease;
            padding:2px 10px;
            margin:2px 0px 5px;
            background-color:#cecece;
            color: white;
            font-size: 13px;
            font-weight: 300;
            cursor:pointer;


            @media (max-width: 1024px) { 
                display: inline-block;
                clear:none;
                margin-left:4px;
                height:20px;
                line-height: 15px;
                @include border-radius(15px);
            }

            span{
                float:left;
                text-transform: lowercase;
            }

            .fa-plus-circle, .fa-check{
                font-size:10px;
                display:block;
                position: absolute;
                right:5px;
                top:calc( 50% - 5px) ;
            }
            
            &.active{
                background-color: $app-color-active;
                .fa-plus-circle{
                    display:none;
                }
                .fa-check{
                    display:block;
                }
            }
                &:not(.active){
                
                .fa-plus-circle{
                    display:block;
                }
                .fa-check{
                    display:none;
                }

            }
        }
    }
}

.nav-pros{

    ul{
        padding: 10px 0;
        list-style-type: none;
        font-weight: 300;

        border-top: 2px dotted $app-color-light;
        border-bottom: 2px dotted $app-color-light;

        @media (max-width: 764px) { 
            font-size:17px;
            font-weight: 400;
        }

        @media (min-width: 1025px) { 
            padding: 0 0 0 20px;
            font-size:13px;
            border: none;
        }

        li{
            color:$app-color;
            cursor:pointer;
            margin-bottom:8px;

            &.inlist{
                color:$app-color-active;
            }

            &.router-link-active{
                color: $app-color-selected;
                text-decoration:line-through;
            
                &:before {
                    content: "\f105"; // FontAwesome Unicode 
                    font-family: FontAwesome;
                    display: inline-block;
                    margin-left: 0; 
                    width: 10px; 
        
                } 
            
            }
        }
    }
}

</style>