
$app-color-active:rgba(33, 67, 219, 0.767); 
$app-color: rgb(17, 17, 17); 
$app-color-light: #cecece; 
$app-color-selected: rgb(17, 17, 17); 

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}