<template>
  <div id="app" class="container">
    <div class="row-fluid app-board">

      <div class="col-sm-12 col-md-4 nav-container">
        <FooterBox></FooterBox>
        <NavCategories :areas="areas" :tags="tags" :pros="pros"></NavCategories>
      </div>

      <div class="col-sm-12 col-md-7 content-container">
        <router-view/>
      </div>
      
    </div>

   
  </div>
</template>

<script>

  import loadTools from '@/modules/loadTools.js';
  import NavCategories from '@/components/NavCategories.vue';
  import FooterBox from '@/components/FooterBox.vue';

  export default {
    components: {
      NavCategories,
      FooterBox,
    }, 
    data(){
      return{
          areas:null,
          tags:null,
          pros:null,
          allData : null,
      };
    },
    beforeMount(){
      const libUrl = 'http://motuo.info/pycms/archiv-workers/library.json';
      loadTools.fetchAsync( libUrl )
      .then( (data) =>{
          this.$store.commit('setLibrary', data )
          this.areas = data.areas;
          this.tags = data.uniqueTags;
          this.pros = data.projects;
      })
      .catch(reason => console.log(reason.message))
    }
  }

</script>

<style lang="scss">
 
  @import '~@/components/style_variables.scss';

  html, body{
    height: 100%;
  }

  #app {
    min-height:100%;
    font-family: 'Montserrat', sans-serif;
  }

  .nav-container{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;

    @media (min-width:990px) { 
      position:fixed;
      padding: 0 10px 0 0 !important;
      max-width: 450px;
    }
  }

  .content-container{
    margin: 0;
    padding: 0;
    @media (min-width: 990px) { 
      float:right;
    }
  }



</style>
